@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
/*triangles: */
/*        
border-bottom: 20px solid transparent;
border-top: 20px solid transparent;
border-right: 20px solid rgba(255,255,255,.4);*/
/*    .prev, .next {
        background: #cf9;
        width: 44px;
        height: 117px;
        z-index: 100;
        position: absolute;
        top: 35%;
    }*/
/*// font-family: "proxima-nova", Arial, Helvetica, sans-serif;
// 
*/
/*IE GLOW*/
/*filter:progid:DXImageTransform.Microsoft.Glow(Color=white,Strength=5);
*/
body {
  font-family: 'PT Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /*text-shadow: 0 1px 1px rgba(0,0,0,.2);*/
  margin: 0;
  padding: 0;
  background-color: #292929;
  color: #F7F5F3; }

p {
  font-family: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif; }

a, a:hover {
  text-decoration: none;
  color: initial; }

.btn-custom {
  color: #fff;
  /*background-color: rgb(67,67,67);*/
  /*    border-color: #2e6da4;*/
  display: inline-block;
  padding: 3px 7px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-bottom: 2px solid #F7F5F3;
  transition: all ease-in-out .1s;
  -webkit-transition: all ease-in-out .1s; }
  .btn-custom a, .btn-custom i {
    display: table-cell;
    color: #F7F5F3;
    vertical-align: middle;
    margin: 0 auto; }
  .btn-custom:hover {
    -moz-text-shadow: 0 0 6px #fff;
    -webkit-text-shadow: 0 0 6px #fff;
    text-shadow: 0px 0px 6px #fff;
    color: #F7F5F3; }
  @media screen and (min-width: 768 px) {
    .btn-custom {
      display: table; } }

.btn-cta {
  display: inline-block;
  background-color: transparent;
  color: #F7F5F3;
  border: 2px solid #F7F5F3;
  border-radius: 0px;
  font-size: 1.2em;
  padding: 10px 15px;
  transition: all ease-in .3s;
  -webkit-transition: all ease-in .3s; }
  .btn-cta:hover {
    -moz-box-shadow: 0 0 6px #fff;
    -webkit-box-shadow: 0 0 6px #fff;
    box-shadow: 0px 0px 6px #fff;
    -moz-text-shadow: 0 0 6px #fff;
    -webkit-text-shadow: 0 0 6px #fff;
    text-shadow: 0px 0px 6px #fff;
    color: #F7F5F3; }

/* ==== CONTAINERS ==== */
.container-top {
  padding-top: 2%;
  text-align: center; }

.new-color-grey {
  text-align: center;
  background-color: #999897;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+"); }

.new-color {
  background: #F7F5F3;
  /*background: #FEFEFA;*/
  color: #292929;
  padding-bottom: 5%; }

.container-top::after
 {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #292929;
  clear: both;
  z-index: 1000;
  left: 47%;
  /* older browsers */
  left: calc(50% - 30px); }

/*new-color-grey::after { 
    border-top: 25px solid;
    border-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");; 
}*/
/* ==== LOGO, PHONE, MEDIA ICONS ==== */
.header {
  margin-bottom: 3.5%; }

.middle {
  text-align: center;
  font-variant: small-caps;
  color: #fff; }
  .middle p.lead {
    font-family: 'Open Sans', sans-serif; }
  .middle .c-logo img {
    max-width: 160px; }

ul.social-media {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  text-align: left; }
  ul.social-media li {
    margin-bottom: 5px;
    width: 25px; }
  @media only screen and (min-width: 830px) and (max-width: 991px) {
    ul.social-media {
      margin-left: -15px; } }

div.phone-info {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  text-align: right; }
  @media only screen and (min-width: 830px) {
    div.phone-info {
      margin-right: -15px; } }

/*=== CAROUFREDSEL STYLES ====*/
.list_carousel {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

/*   // INDIVIDUAL SLIDES - div.s-item //*/
.list_carousel .s-item {
  font-size: 40px;
  text-align: center;
  padding: 0;
  display: block;
  float: left !important;
  position: relative;
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: 5px solid #292929; }
  .list_carousel .s-item .text-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    z-index: 40;
    padding-top: 15%;
    /*// moves the text down from the top*/
    text-align: center;
    /*// center the text*/
    /*            // transition: all ease-in .4s;
                // -webkit-transition: all ease-in .4s;*/ }
    .list_carousel .s-item .text-overlay h3 {
      cursor: auto;
      color: transparent !important;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .list_carousel .s-item .text-overlay .underline {
      width: 20%;
      margin: 0 auto;
      text-align: center;
      border: solid 1px #fff;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      visibility: hidden; }
    .list_carousel .s-item .text-overlay:hover h3 {
      color: #FFF !important;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .list_carousel .s-item .text-overlay:hover .underline {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .list_carousel .s-item .slide-text {
    top: 0;
    /*            // margin-top: 1px;*/
    border: none;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    width: auto;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    margin: 0 0 10px;
    position: absolute;
    /*// top: 100%;*/
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 160%;
    background: transparent; }
  .list_carousel .s-item:hover .slide-text {
    background: rgba(0, 0, 0, 0.5); }
  .list_carousel .s-item img {
    width: 150%;
    height: auto;
    border: 0; }

.list_carousel.responsive {
  width: auto;
  margin-left: 0; }

.clearfix {
  float: none;
  clear: both; }

/* === BUTTONS ==== */
.next, .prev {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 100000;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5); }

.prev {
  left: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }
  @media only screen and (min-width: 830px) and (max-width: 991px) {
    .prev {
      left: -30px; } }
  @media only screen and (min-width: 992px) {
    .prev {
      left: -30px; } }

.next {
  right: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  @media only screen and (min-width: 830px) and (max-width: 991px) {
    .next {
      right: -30px; } }
  @media only screen and (min-width: 992px) {
    .next {
      right: -30px; } }

/*=== ABOUT US ====*/
/*==== CONTACT US ===== */
div.contact-us .address-side {
  text-align: center; }
div.contact-us #map {
  width: 100%;
  height: 500px; }

/*    @media only screen and (min-width : 320px) {
        
    }

    @media only screen and (min-width : 480px) {

    }

    @media only screen and (min-width : 768px) {

    }

    @media only screen and (min-width : 992px) {

    }

    @media only screen and (min-width : 1200px) {

    }*/
  /*  @media only screen and (min-width : 480px) {

    }*/
/*  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid #fff;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 100000;*/
