@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
/*triangles: */
/*        
border-bottom: 20px solid transparent;
border-top: 20px solid transparent;
border-right: 20px solid rgba(255,255,255,.4);*/
/*    .prev, .next {
        background: #cf9;
        width: 44px;
        height: 117px;
        z-index: 100;
        position: absolute;
        top: 35%;
    }*/
body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292929;
  color: #FEFEFA; }

/* ==== GLOBAL ==== */
.container-top {
  padding-top: 2%; }

.row {
  /*border: 1px solid;*/ }

.new-color {
  background: #FEFEFA;
  color: #292929;
  padding-bottom: 5%; }

/* ==== LOGO, PHONE, MEDIA ICONS ==== */
/*.header {
    text-align: center;
    margin-bottom: 5%;
    border: 1px solid;
}*/
.c-logo {
  max-width: 160px;
  /*display: inline-block;*/ }

ul.social-media {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  /*margin-left: -15px;*/
  justify-content: space-between;
  list-style: none; }

/*=== CAROUFREDSEL STYLES ====*/
.slider {
  margin-bottom: 3.5%; }

.list_carousel {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

.list_carousel div {
  font-size: 40px;
  color: #999;
  text-align: center;
  background-color: #eee;
  /*              width: 50px;
  height: 50px;*/
  padding: 0;
  display: block;
  float: left !important;
  position: relative; }

.list_carousel.responsive {
  width: auto;
  margin-left: 0; }

.clearfix {
  float: none;
  clear: both; }

/* === BUTTONS ==== */
.next, .prev {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 100000;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5); }

.prev {
  left: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }
  @media only screen and (min-width: 830px) and (max-width: 991px) {
    .prev {
      left: -30px; } }
  @media only screen and (min-width: 992px) {
    .prev {
      left: -30px; } }

.next {
  right: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  @media only screen and (min-width: 830px) and (max-width: 991px) {
    .next {
      right: -30px; } }
  @media only screen and (min-width: 992px) {
    .next {
      right: -30px; } }

/*  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid #fff;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 100000;*/
/* === IMAGES ==== */
.s-item {
  position: relative;
  border: none;
  background-color: transparent;
  display: block;
  overflow: hidden; }

.s-item img {
  width: 150%;
  height: auto;
  border: 0; }

  /*  .sc-item .overlay {
        position: absolute;
     
        height: 100%;
        width: 100%;
    }

    .sc-item .bar {
        width: 30%;
        border: solid 1px #fff;
        margin: 0 auto;
        text-align: center;
    }

    .sc-item:hover .sc-content {
        top: 0;
    }*/
/*=== ABOUT US ===== */
div.about-us {
  text-align: center;
  position: relative; }
  div.about-us .btn-primary {
    margin-bottom: 40px; }

.container-top::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #292929;
  clear: both;
  z-index: 1000;
  left: 47%;
  /* older browsers */
  left: calc(50% - 30px); }

/*==== CONTACT US ===== */
div.contact-us {
  margin-top: 5%; }
  div.contact-us .address-side {
    text-align: center; }
  div.contact-us #map {
    width: 100%;
    height: 500px; }

/*    @media only screen and (min-width : 320px) {
        
    }

    @media only screen and (min-width : 480px) {

    }

    @media only screen and (min-width : 768px) {

    }

    @media only screen and (min-width : 992px) {

    }

    @media only screen and (min-width : 1200px) {

    }*/
/*  @media only screen and (min-width : 480px) {
      .bottom {
              min-height: 500px;
      }
  }*/
/*.nav-middle {
    background-color: #ccc;
}*/
/*.flex-nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}

.flex-nav-inner {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    height: 60px;
    margin-bottom: 0;
    width: 100%;


    li {
        a {
            line-height: 60px;
            display: inline-block; 
        }

        flex-basis: 33.33%;
        text-align: center;
    }
}
*/
