        

/*    @media only screen and (min-width : 320px) {
        
    }

    @media only screen and (min-width : 480px) {

    }

    @media only screen and (min-width : 768px) {

    }

    @media only screen and (min-width : 992px) {

    }

    @media only screen and (min-width : 1200px) {

    }*/


   

        div.container {
        	border: 1px solid;

        }

        div.page-container {
        	
        	display: flex;
        	flex-direction: column;
        	border: 1px solid;
        }

        .flex-container-nav {
        	display: flex;
        	border: 1px solid red;
        	flex-wrap: nowrap;
        }

        .flex-container-col {
        	display: flex;
        	border: 1px solid red;
        	/*flex-wrap: nowrap;*/
        	flex-direction: column;
        }
        
        .flex-container-row {
        	display: flex;
        	border: 1px solid red;
        	flex-direction: row;
        	align-items: center;
        }

        ul.flex-nav {
        	padding: 0;
        	margin: 0;
        	display: flex;
        	flex-direction: row;
        	list-style-type: none;
        	flex-wrap: nowrap;
        	justify-content: space-around;
        	align-content: stretch;
                width: 100%;

        }



        ul.flex-nav li {
        	border: 1px solid;
        	display: inline-block;
        }

        .logo-art {
        	width: 100%;
                max-width: 375px;
                margin: 0 auto;
        }

        .page1 {
        	background-color: #eee;
              /*  height: 70vh;*/
        }

        .bottom {
            min-height: 600px;
        }


  /*  @media only screen and (min-width : 480px) {
        .bottom {
                min-height: 500px;
        }
    }*/
